main {
  padding-top: 0px;
}

header .logo {
  //   color: #72f88d;
  //   pointer-events: none;
  display: none;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.register-success {
  display: none;
}
