@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

/* reference: https://blog.pope.tech/2020/02/28/missing-form-label-search/ */
.wave-form-lable-fix {
  position: absolute;
  overflow: hidden;
  left: -9999999px;
  top: auto;
}

.grid-a {
  grid-area: a;
}

.grid-b {
  grid-area: b;
}

.grid-c {
  grid-area: c;
}

.grid-d {
  grid-area: d;
}

.grid-e {
  grid-area: e;
}

.grid-f {
  grid-area: f;
}

.grid-g {
  grid-area: g;
}

.errorText,
.hide-btn {
  display: none;
}

.btn:hover {
  color: var(--white-color);
  background-color: var(--btn-color);
}

.btn-style {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-color);
  border: solid 2px var(--black-color);
  color: var(--white-color);
  width: 125px;
  height: 45px;
  border-radius: 10px;
}

img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
  object-position: center;
}

h1,
h2,
h3,
h4,
h5,
p,
button,
input {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

p {
  margin-bottom: 0;
}

main {
  background-image: url(../../images/josh-calabrese-XXpbdU_31Sg-unsplash.webp);
  background-position-y: bottom;
  background-size: 60%;
  background-position-x: right;
  background-repeat: no-repeat;
  padding-top: 50px;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
}

footer {
  z-index: 1;
  position: relative;
}

Header,
footer {
  background-image: url(../../images/joshua-bartell-6vvIBTvL90A-unsplash.webp);
  background-color: var(--black-color);
  background-position: center;
  color: var(--white-color);
  background-size: cover;
  padding: 5px 0px 5px 0px;
  font-family: "Rubik", sans-serif;
}

.logo,
.log-reg-logo {
  font-size: 24px;
  color: inherit;
  text-decoration: inherit;
}

.logo-lock,
.log-reg-logo-lock,
footer p {
  font-size: 15px;
}

.logo:hover {
  text-decoration: underline;
}

.dropdw-btn,
.footer-btn {
  font-size: 24px;
  text-decoration: none;
  color: var(--white-color);
  padding-top: 10px;
}

.meny-style {
  position: fixed !important;
  inset: 0 !important;
  height: 100%;
  width: 100%;
  left: 0;
  overflow-x: hidden;
  border-radius: 0px;
  background-color: var(--gray-blur-color);
  backdrop-filter: blur(5px);
  text-align: center;
  transform: translate3d(0px, 45px, 0px) !important;
  font-size: 24px;
  padding-top: 20%;
}

.menu-list-style {
  flex-direction: column-reverse;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

ul div {
  flex-direction: column;
}

.searchbar,
.profile-menu,
.listing-form,
.avatar-edit-form {
  display: none;
}

.header-profile-img,
.profile-img {
  object-fit: cover;
  object-position: center;
}

.header-profile-img {
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  clip-path: ellipse(30px 30px at 30px 30px);
}

.backgroud-img {
  position: absolute;
  max-height: initial;
  max-width: initial;
  transform: rotate(180deg);
  top: 46px;
  left: 0px;
  width: 60%;
  height: auto;
}

.main-cover-style,
.back-img-list-edit {
  background-color: var(--listing-color);
  background-image: none;
  display: none;
  padding-top: 0px;
}

.show-less-btn,
.output-img {
  display: none;
}

.bids,
.list {
  width: fit-content;
}

.listing-list {
  max-width: inherit;
}

.listing-form {
  display: none;
  background-color: var(--listing-color);
  width: 90%;
  max-width: 1100px;
  padding: 10px;
  border: solid 2px var(--black-color);
  border-radius: 10px;
}

.form-post-container {
  grid-template: "a" "b" "c";
}

.listing-submission {
  text-align: center;
  width: 80%;
}

.form-post-container button {
  justify-self: center;
}

.listing-card {
  border: solid 2px var(--black-color);
  border-radius: 0;
  max-width: 330px;
}

.listing-card,
.specific-listing-col,
.backgroud-col {
  background-color: var(--listing-color);
}

.auction-img {
  height: 200px;
}

.listing-form-img {
  justify-self: center;
}

.listing-card h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 32px;
}

.listing-card h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.listing-card h3,
.specific-info-container {
  background-color: var(--white-color);
  border-radius: 7px;
  padding: 6px 10px;
  width: 100%;
  height: 65px;
}

.listing-card h4 {
  height: 38px;
}

.listing-card h4,
.endTime {
  background-color: var(--date-color);
}

.listing-card h5,
.listing-card h4,
.endTime {
  color: var(--white-color);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.listing-card h5,
.bid-btn {
  color: var(--white-color);
  background-color: var(--black-color);
}

.avatar-listing-btn button {
  width: 170px;
}
