:root {
  --black-color: #000000;
  --white-color: #ffffff;
  // --header-footer-color: #72f88d;
  // --listing-color: #bfedce;
  --listing-color: #92c085;
  --date-color: #a13030;
  --btn-color: #006815;
  --gray-blur-color: #878787bf;
  --background-blur-color: #ffffff80;
}
